html {
  font-family: "Rubik", sans-serif;
  background: $mainBlue;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #a8a8a8;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  padding: 3.5rem 0;
  @mixin atMedium {
    padding: 6rem 0;
    width: 80vw;
  }
}
