@import "./base/_variables.css";
@import "./base/_mixins.css";
@import "./base/_global.css";

@import "./modules/_navbar.css";
@import "./modules/_menu.css";
@import "./modules/_showcase.css";
@import "./modules/_btn.css";
@import "./modules/_text.css";
@import "./modules/_where-to-go.css";
@import "./modules/_popular.css";
@import "./modules/_subscribe.css";
@import "./modules/_places.css";
@import "./modules/_video.css";
@import "./modules/_features.css";
@import "./modules/_testimonials.css";
@import "./modules/_splide.css";
@import "./modules/_recent.css";
@import "./modules/_footer.css";
