.btn {
  padding: 0.8rem 1.8rem;
  font-family: "Rubik", sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
  @mixin atMedium {
    font-size: 1rem;
  }
  &--cyan {
    background: $mainCyan;
    &:hover {
      background: $mainRed;
    }
  }
  &--red {
    background: $mainRed;
    &:hover {
      background: $mainCyan;
    }
  }
  &--large {
    font-size: 0.8rem;
    padding: 0.8rem 2rem;
    @mixin atMedium {
      font-size: 1rem;
      padding: 1.2rem 2.8rem;
    }
  }
}
