.footer {
  &__container {
    width: 90vw;
    margin: 4rem auto 0 auto;
  }
  a:hover {
    transition: all 0.3s ease-in-out;
    color: $mainRed;
  }
  h1 {
    color: white;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    @mixin atSmall {
      grid-template-columns: repeat(2, 1fr);
    }
    @mixin atMedium {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0;
    }
  }
  &__logo {
    color: $mainRed;
    font-size: 2rem;
  }
  &__about {
    margin: 2rem 0 3rem 0;
    width: 70vw;
    line-height: 1.8;
    @mixin atSmall {
      width: 100%;
    }
  }
  &__socials {
    i {
      margin-right: 1.2rem;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    a {
      margin-bottom: 1rem;
    }
  }
  &__destinations {
    margin-top: 2rem;
    display: flex;
    &__countries {
      display: flex;
      flex-direction: column;
      margin-right: 30%;
      a {
        margin-bottom: 1rem;
      }
      @mixin atSmall {
        margin-right: 1rem;
      }
      @mixin atMedium {
        margin-right: 3rem;
      }
    }
  }
  &__instagram {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    margin-top: 2rem;
  }
  &__image {
    width: 100%;
    border-radius: 5px;
    opacity: 0.8;
    cursor: pointer;
  }

  &__copyright {
    margin-top: 4rem;
    text-align: center;
    padding: 2rem 0;
    border-top: 1px #363e52 solid;
    color: #8996b8;
    font-size: 0.8rem;
    p {
      font-weight: 300;
    }
    a {
      color: $mainRed;
    }
  }
}
