.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3.5rem;
  background: white;
  position: fixed;
  top: 0;
  z-index: 100;
  @mixin atMedium {
    height: 4.5rem;
  }
  &__logo {
    align-self: center;
    color: $mainBlue;
    margin: 0 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    @mixin atMedium {
      font-size: 1.7rem;
    }
  }
  &__menu {
    display: none;
    @mixin atMedium {
      display: flex;
      list-style: none;
      font-size: 0.9rem;
      &-items {
        cursor: pointer;
        padding: 0 0.8rem;
        transition: all 0.3s ease-in-out;
        & i {
          transform: translateY(2px);
        }
        &:hover {
          color: $mainCyan;
        }
      }
    }
  }
  &__item {
    display: flex;
    height: 100%;
    align-items: center;
  }
  &__contact {
    display: none;
    @mixin atBig {
      display: flex;
      list-style: none;
      align-items: center;
      margin-right: 0.8rem;
      & a {
        @mixin atBig {
          display: none;
        }
        color: #adadad;
        margin: 1rem;
        font-size: 0.9rem;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $mainRed;
        }
      }
      &-items {
        display: flex;
        font-size: 0.8rem;
        align-items: center;
        padding: 0.3rem 0.6rem;
        border-right: 1px #d1d1d1 solid;
        @mixin atBig {
          border-right: none;
          padding: 0.3rem 2rem;
        }
        h3 {
          font-weight: 400;
        }
        & i {
          color: $mainRed;
          margin-right: 0.4rem;
        }
      }
    }
  }

  &__search {
    padding: 0 1rem;
    color: $mainWhite;
    display: flex;
    font-size: 1em;
    align-items: center;
    background: $mainRed;
    height: 100%;
    cursor: pointer;
    @mixin atMedium {
      font-size: 1.2rem;
      padding: 0 1.8rem;
    }
  }
}
