.places {
  background: #f7fafd;
  text-align: center;
  &__paragraph {
    margin: 1rem auto 2rem auto;
    color: #757575;
    width: auto;
    line-height: 1.7;
    @mixin atMedium {
      width: 50%;
    }
  }
  &__images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @mixin atSmall {
      grid-template-columns: repeat(2, 1fr);
    }
    @mixin atLarge {
      grid-template-columns: repeat(3, 1fr);
    }
    grid-gap: 2rem;
    img {
      width: 100%;
    }
  }
  &__item {
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    background: white;
    transition: all 0.2s ease-in-out;
    p {
      color: #757575;
    }
    i {
      font-size: 0.7rem;
      @mixin atSmall {
        font-size: 0.5rem;
      }
    }
    &:hover {
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.03), 0 41.8px 33.4px rgba(0, 0, 0, 0.01);
      .places__content {
        h1 {
          color: $mainRed;
        }
      }
    }
  }
  &__content {
    h1 {
      transition: all 0.2s ease-in-out;
    }
    margin: 1.5rem 1rem;
  }
  &__bottom {
    display: flex;
    margin-top: 0.8rem;
    justify-content: space-between;
    p {
      font-size: 0.8rem;
      transform: translateY(2px);
    }
  }
  &__review {
    display: flex;
    align-items: center;
    i {
      color: #f7b258;
    }
  }
  &__time {
    display: flex;
    align-items: center;
    i {
      color: #757575;
      margin-right: 0.5rem;
    }
  }
  &__btn {
    margin-top: 2rem;
  }
}
