.popular {
  text-align: center;
  background: white;
  &__paragraph {
    color: #757575;
    width: 100%;
    line-height: 1.8rem;
    margin: 1rem 0;
    @mixin atMedium {
      width: 50%;
      margin: 1rem auto;
    }
  }
  &__images {
    display: grid;
    margin: 3rem 0;
    grid-template-columns: repeat(1, 1fr);
    @mixin atSmall {
      grid-template-columns: repeat(2, 1fr);
    }
    @mixin atLarge {
      grid-template-columns: repeat(3, 1fr);
    }
    grid-gap: 1.5rem;
    width: 100%;
  }
  &__item {
    position: relative;
    background: $mainBlue;
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: translateY(-0.5rem);
      .popular__inside-text {
        h1 {
          color: $mainRed;
        }
        a {
          background: $mainRed;
        }
      }
    }
    & img {
      width: 100%;
      height: 100%;
      opacity: 0.8;
    }
  }
  &__inside-text {
    position: absolute;
    display: flex;
    bottom: 10%;
    align-items: center;
    left: 10%;

    & h1 {
      color: white;
      margin-right: 1rem;
      transition: all 0.2s ease-in-out;
    }
    & a {
      transition: all 0.2s ease-in-out;
      color: white;
      font-size: 0.8em;
      background: $mainCyan;
      padding: 0.3rem 0.7rem;
      border-radius: 10rem;
    }
  }
}
