.recent {
  background: white;

  h1 {
    margin-bottom: 3rem;
    text-align: center;
  }
  &__images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @mixin atSmall {
      grid-template-columns: repeat(3, 1fr);
    }
    grid-gap: 2rem;
    img {
      width: 100%;
    }
  }
  &__items {
    cursor: pointer;
    img {
      border-radius: 5px;
    }
    &:hover {
      .recent__header {
        color: $mainRed;
      }
    }
  }
  &__paragraph {
    margin: 1rem 0;
    color: #757575;
  }
  &__header {
    font-weight: 400;
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
  }
}
