.search {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 101;
  &__background {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
  }
  &--close {
    display: none;
  }
  &__form {
    background: white;
    padding-left: 1.5rem;
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    z-index: 102;
  }
  &__input {
    border: none;
    background: none;
    font-family: inherit;
    width: 50vw;
    font-size: 1rem;
    padding: 1rem 0;
    &::placeholder {
      color: #8b8b8b;
    }
    &:focus {
      outline: none;
    }
    @mixin atMedium {
      padding: 1.5rem 0;
    }
  }
  &__btn {
    background: $mainRed;
    padding: 0 2rem;
    border: none;
    height: 51px;
    margin: 0;
    color: white;
    @mixin atMedium {
      height: 76px;
    }
    &__text {
      font-family: "Rubik", sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
}
