.subscribe {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 1rem;
  justify-content: center;
  @mixin atSmall {
    padding: 3rem 2rem;
  }
  @mixin atLarge {
    height: 35vh;
    align-items: center;
    flex-direction: row;
  }
  &__items {
    color: white;
    width: 90%;
    @mixin atLarge {
      margin-right: 3rem;
      width: 35vw;
    }
  }
  &__paragraph {
    margin-top: 0.8rem;
    color: #aab1b7;
    width: 100%;
    line-height: 1.7;
  }
  &__input {
    background: white;
    color: rgb(54, 54, 54);
    border: none;
    font-family: "Rubik", sans-serif;
    border-radius: 5px;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    width: auto;
    margin: 1rem 0;
    &::placeholder {
      color: #a3a3a3;
    }
    &:focus {
      outline: none;
    }
    @mixin atSmall {
      padding: 0.8rem 1rem;
      margin: 0 1rem 0 0;
      width: 60vw;
    }
    @mixin atMedium {
      padding: 0.8rem 1rem;
      width: 30vw;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    @mixin atSmall {
      width: auto;
      flex-direction: row;
    }
  }
  &::after {
    content: "";
    background: #15264e;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
    @mixin atSmall {
      opacity: 0.5;
      background: url("/src/img/Subscribe.jpg") no-repeat center center/cover;
    }
  }
}
