.testimonials {
  background: #f5f5f5;
  text-align: center;

  &__img {
    width: 25vw;
    border-radius: 50%;
    margin-bottom: 1rem;
    position: relative;
    @mixin atSmall {
      margin-bottom: 1.5rem;
      width: 15vw;
    }
    @mixin atLarge {
      width: 8vw;
    }
  }
  &__quote {
    font-size: 1rem;
    margin: auto;
    width: 250px;
    line-height: 1.8;
    @mixin atVerySmall {
      width: 200px;
      font-size: 0.8rem;
    }
  }
  &__paragraph {
    margin: 1rem 0;
    color: #757575;
  }
}
