.video {
  position: relative;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @mixin atSmall {
    height: 65vh;
  }
  @mixin atLarge {
    height: 75vh;
  }
  @mixin atBig {
    height: 85vh;
  }

  &__header {
    font-size: 3rem;
    font-family: "Nothing You Could Do", cursive;
    color: white;
    font-weight: 400;
    @mixin atSmall {
      font-size: 4rem;
    }
    @mixin atMedium {
      font-size: 5rem;
    }
  }
  &__icon {
    color: white;
    background: $mainCyan;
    margin-top: 2rem;
    padding: 1.5rem 1.6rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: $mainRed;
    }
    @mixin atMedium {
      padding: 2rem 2.1rem;
    }
  }
  &::after {
    content: "";
    position: absolute;
    background: url("/src/img/Video.jpg") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
  }
}
