.where-to-go {
  background: $mainBlue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  @mixin atMedium {
    padding: 2.5rem 0;
  }
  @mixin atBig {
    flex-direction: row;
  }
  &__header {
    color: white;
    line-height: 34px;
    height: 35px;
    margin-right: 0;
    margin-bottom: 1rem;
    @mixin atMedium {
      margin-bottom: 0;
      margin-right: 1.5rem;
    }
  }
  &__form {
    background: transparent;
    border: 1px solid #747474;
    border-radius: 5px;
    padding: 0.8rem;
    font-size: 1rem;
    font-family: "Rubik", sans-serif;
    color: white;
    &::placeholder {
      color: #8b8b8b;
    }
    &:focus {
      outline: none;
    }
    width: 100%;
    margin: 0 0 1rem 0;
    @mixin atMedium {
      margin: 1rem 0.5rem 1rem 0;
      width: auto;
    }
  }
  &__type {
    padding: 0.76rem;
    & option {
      background: #f5f5f5;
      color: black;
      padding: 8px 16px;
    }
  }
}
