.youtube {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 101;
  &--closed {
    display: none;
  }
  &__background {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
  }
  &__wrapper {
    width: 95vw;
    height: 100vh;
    margin: auto;
    @mixin atMedium {
      width: 70vw;
    }
  }
  &__video {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 102;
    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}
